<!-- navbar.ejs -->
<nav>
    <img src="/images/logo.png" alt="Logo" class="logo-style">
    <br>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Our Services</a></li>
        <li><a href="/contact">Contact us</a></li>
    </ul>
</nav>